html {
    font-size: 62.5%;
    height: 100%;
    
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    /* 10 ÷ $rembase */
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    background-color:transparent;
}

* {
    box-sizing: border-box;
}

::selection {
    background: rgba(157, 157, 157, 0.6);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
a:focus {
    outline: 0px !important;
    /*suspends default focusing behavior of browsers*/
    -webkit-appearance: none;
}


/*NAVBAR*/

.navbar-fixed-top {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border: 0px;
    max-height: 50px;
}


/*.navbar-brand .image{
float:left;
display: block;
 width:45px; 
 height:45px;  
background: url("../images/logo.png") no-repeat center center ;
background-size: cover; 
-webkit-filter: drop-shadow(2px 2px 3px #444);
    filter:         drop-shadow(2px 2px 3px #444); 
}*/

.navbar>.container a.navbar-brand {
    padding: 0 0;
    margin-left: 15px;
    width: 180px;
    line-height: 50px;
    font-size: 40px;
}

a.navbar-brand p {
    width: 70%;
    font-family: 'Dancing Script', cursive;
    float: left;
    -webkit-filter: drop-shadow(2px 2px 3px #444);
    filter: drop-shadow(2px 2px 3px #444);
    padding: 0 0;
    margin: 3px 0 0 3px;
}

a.navbar-brand img {
    width: 25%;
    margin-top: 3px;
    float: left;
    max-height: 100%;
    -webkit-filter: drop-shadow(2px 2px 3px #444);
    filter: drop-shadow(2px 2px 3px #444);
}

.navbar-inverse .navbar-brand {
    color: rgba(0, 0, 0, 1);
    font-size: 2.6rem;
    font-weight: 300;
}


/*.navbar-inverse a.navbar-brand{}*/

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: rgba(0, 0, 0, 1);
}

.navbar-form {
    border: 0;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #navbar {
    border: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

label.navbar-toggle {
    border: none;
    margin: 1px 5px 0px 0;
    padding-bottom: 0px;
}

.navbar-toggle .material-icons {
    font-size: 30px;
    max-height: 50px;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    color: #999;
    cursor: pointer;
}

.navbar-inverse .navbar-toggle:active {
    background-color: transparent;
    color: #000;
    cursor: pointer;
}


/*first container*/

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #ffffff;
    color: #2e6da4;
    border-color: #2e6da4;
    border-radius: 3px;
}

.btn.btn-default:hover {
    background-color: transparent;
}

.form-group {
    position: relative;
}

.login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 9px;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.contact-icon {
    color: #bfc9ca;
    font-size: 20px;
    margin-top: 0px;
    margin-right: 3px;
    position: relative;
    top: 3px;
    left: 5px;
}

footer {
    background-color: grey;
    color: white;
}

.btn.btn-secondary {
    background-color: transparent;
}

.btn.btn-secondary:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.btn.btn-secondary:active {
    transition: all 0s ease 0s;
    color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 0;
}

.bold {
    font-family: Open Sans;
}

.jumbotron {
    height: 100%;
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    background-color: transparent;
    border-top: 50px;
    width: 90%;
}

.jumbotron>.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.jumbotron .mainHeading {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.second .form-control,
.btn.btn-default {
    border-color: rgba(0, 0, 0, 0.5);
}

.mainHeading {
    position: relative;
    padding-top: 35px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
}

@media screen and (max-width: 767px) {
    .jumbotron h2 {
        line-height: 15px;
    }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section.search {
    height: 100%;
    background: url("../images/big.jpg") no-repeat center center;
    background-size: cover;
     background-attachment: fixed;
}

#search {
    padding: 0 45px 0 15px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#submit {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 9px;
    right: 20px;
}


/*white footer things*/



footer .form-control {
    background-color: transparent;
    color: white;
    border-color: white;
}

footer .mainHeading {
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 24px;
}

footer button.btn.btn-default {
    background-color: transparent;
    color: white;
    border-color: white;
}

footer i.material-icons {
    color: white;
}

footer address i.material-icons {
    font-size: 14px;
}

footer address {
    color: white;
    font-size: 16px;
}

footer .form-control::-webkit-input-placeholder {
    color: white;
}

footer .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
    border-color: white;
}

footer address {
    text-align: center;
    margin: 10px auto;
}

footer .navbar-brand {
    width: auto;
    height: auto;
    display: inline-block;
    float: none;
    margin: 30px 0 10px 0;
    padding: 0 0;
}

footer .navbar-brand p {
    font-size: 60px;
    line-height: 40px;
    color: black;
    display: inline-block;
    float: none;
    margin: 0 0;
    width: auto;
    vertical-align: bottom;
    margin: 0px 0px 9px 1px;
}

footer .navbar-brand img {
    display: inline-block;
    float: none;
    width: 75px;
    height: 75px;
    max-height: none;
    margin: 0 0;
    vertical-align: bottom;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: white;
    text-decoration: none;
}

footer a:active {
    color: black;
    text-decoration: none;
}

footer ul {
    margin-left: 45px;
    list-style-type: disc;
}

footer div.centered-list {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-width: 200px;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}


section#results{background-color: white;}
/*RESULT CARDS*/

.card {
    position: relative;
    margin: 5rem auto;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    max-width: 270px;
    height: 437px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.card .card-image {
    position: relative;
    width: 100%;
    height: 188px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

a:hover {
    text-decoration: none;
}

.card .card-image img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    max-height: 100%;
}

.card .card-content {
    text-align: center;
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content h2 {
    display: inline-block;
    color: black;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    vertical-align: middle;
    margin: 10px 0;
}

.card .card-content h2:hover {
    color: black;
}


/*REGISTRATION PAGE*/

#teo {
    height: 100%;
    background: url("../images/cherries.jpg") no-repeat center center;
    background-size: cover;
}

#teo .card {
    max-width: none;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin: none;
    padding: 30px 60px;
}

#teo .card:hover {
    transform: none;
}

#teo .card h1 {
    font-size: 35px;
    margin: 20px -20px 45px -20px;
    font-weight: 300;
}

#teo .btn-success {
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #4cae4c;
    color: #4cae4c;
    font-weight: 500;
    font-family: open sans;
}

#teo .btn-success:hover {
    background-color: white;
}

#teo .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(76, 174, 76, 0.6);
    border-color: rgba(76, 174, 76, 1)
}
